[submodule "libraries/lithium"]
	path = libraries/lithium
	url = http://github.com/UnionOfRAD/lithium.git
[submodule "libraries/li3_flash_message"]
	path = libraries/li3_flash_message
	url = https://github.com/michaelhue/li3_flash_message.git
