/*Start general styling*/
body{
	margin: 0px;
	padding: 0px;
	background-image:url("../img/cork.gif");
	font-family: 'Ubuntu';
}

a{
	color: #383838;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}
/*End general styling*/

/*Start note finder list stylings*/
#locations{
	display:none;
}

#groups{
	display:none;
}

/*Start top menu bar styling*/
.topmenu{
	height: 50px;
	background-image: url("../img/topmenubg.png");
	padding-left: 10%;
	padding-right: 10%;
	position:fixed;
	top:0;
	left:0;
	right:0;
}

.topmenu a{
	color: #FFFFFF;
}

#ns{
	margin-left: 10px;
	margin-top: 4px;
	display: inline;
	float: left;
}

#addpost{
	margin-top: 15px;
	display: inline;
	width: 100px;
	float: left;
	margin-left: 30px;
}

#loginarea{
	float: right;
	padding-right: 5px;
	margin-top: 15px;
	color: #FFFFFF;
	font-family: 'Ubuntu';
}

#search{
	width: 400px;
	display: inline;
	float: left;
	margin-left: 100px;
	margin-top: 5px;
}

#topsearchbox{
	font-size: 28px;
	background-color: #5C5C5C;
	color: #FFFFFF;
	border: 2px ridge #595959;
	float: left;
}

/*End top menu bar styling*/

/*Start University List styling*/
.unilist{
	list-style: none;
	padding-left: 0;
	font-size: 24px;
}

.unilist li{
	margin-top: 3px;
}

/*End University List styling*/


.subcontainer{
	margin-left: 10%;
	margin-right: 10%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.sidebar{
	width: 200px;
	float: left;
}

.toptear{
	padding: 0;
	margin: 0;
	height: 20px;
	background-image:url("../img/toptear.png");
}

.sidebarcontent{
	padding: 5px;
	background-image:url("../img/justlines.png");
	min-height: 200px
}

.bottomtear{
	padding: 0;
	margin: 0;
	height: 21px;
	background-image:url("../img/bottomtear.png");
	bottom: 0px;
}

.content{
	min-height: 500px;
	padding: 5px;
	margin-top: 50px;
	margin-bottom: 100px;
}

/*Start styling of notes*/
.notes{
	margin-left: 225px;
}

/*Start Styling of notes*/

.note{
	background-image:url('../img/postitbg.png');
	width: 875px;
	height: 175px;
	padding-left: 25px;
	padding-top: 20px;
}

.note dt{
	font-size: 24px;
}

.note dd{
	margin-top: 5px;
	margin-left: 0px;
}

.note em{
	font-size: 12px;
	font-weight: 100;
	color: #4A4A4A;
}

.actions{
	font-size: 12px;
	position: relative;
	top: 50px;
	display: block;
}
/*End styling of notes*/

h1{
	padding-top: 0px;
	margin-top: 0px;
}